body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 5px solid #28a745;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

form {
    margin-bottom: 30px;
}

form input {
    margin: 10px 0;
    padding: 12px;
    width: 85%;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #218838;
}

#certificado {
    margin-top: 40px;
    display: none;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#certificado h2 {
    font-family: 'Georgia', serif;
    font-size: 36px;
    color: #28a745;
    margin-bottom: 20px;
}

#certificado p {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.6;
}

#certificado button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#certificado button:hover {
    background-color: #218838;
}
